/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.wrapper,.charts-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.charts-wrapper{
  width: 93%;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 0.75rem;
}
.line-chart{
  width: 80%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 2rem;
  height: 310px;

}
.line-chart h2{
  text-align: center;

}

.pie-chart{
  width: 50%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  height: 310px;
  padding: 2rem;
  margin: 1rem;
  
}

.pie-chart h2{
  margin-top: 1px;
}

@media screen and (max-width:600px){
 .charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100dvh;
  padding: 0;

}

  .line-chart{
    width: 75vw;
    margin: auto;
   
  }
 .pie-chart{
  position: relative;
  /* margin-top: 20px;
  margin-left: 12px; */
  width:100vw;
 
  
 }
 .pie {
  position: absolute;
  left: -2%;


 }
 h2{
  display: none;
 }
 .sort-buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
 }
 .input-flex input{
  display: flex;
  flex-direction: column;

 }
 .table{
    background-color: green;
    border: 1px solid green;
    max-height: 50vw;
    width: 100%;
 }

 

 
}